---
title : "AVS Hub "
---

{{< blocks/cover  title="👇🏻" image_anchor="top" height="full" color="primary">}}
<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs">}}">Workshop Guide<i class="fas fa-arrow-alt-circle-right ml-2"></i></a><br>


{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" %}}
Azure VMware Solution provides you with private clouds built from dedicated bare-metal Azure infrastructure.
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-lightbulb" %}}
Azure VMware Solution is a VMware validated solution 
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/docsydocs" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}


{{< /blocks/section >}}
{{< /blocks/cover>}}

<!--

	--!>